
.card{
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  display: flex;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
  .card__img_cover{
    position: relative;
    width: 150%;
    overflow: hidden;
    z-index: 2;
    background-color: black;

    &:hover img{
      transform: scale(1.2);
      rotate: (2deg);
      opacity: 0.6;
    }
  }
  .card__image_box{
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
  }
  .card__like,.card__remove{
    cursor: pointer;
    background: none;
    border: none;
    height: 30px;
    width: 30px;
  }

  .card__info{
    width:450%;
    height: 250px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    .card__info_date{
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #858080;
    }
    .card__info_title{
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }
    .card__info_text{
      font-family: 'Ubuntu';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */


      color: #858080;
    }
  }
}
